h1{
    color: blueviolet;
}
.blocodetexto{
    background-color: burlywood;
}
#textolongo{
    color: brown;
}
div p{
    color: blue;
}
a:hover{
    color: red;
}
button:focus{
   background-color:rgb(225,8,255);
}
p::after{
    content: "✨";
}
p::before{
    content: "✨";
}