*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #00050d;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.primeiraparte{
display: flex;
align-items: center;
}

.primeiraparte img{
    width: 96px;
    cursor: pointer;
    margin-right: 35px;
}
.primeiraparte nav{
    display: flex;
    gap: 34px;
    align-items: center;
}
.primeiraparte nav a{
    font-weight: 550;
    font-size: 14px;
}

.primeiraparte nav a.rodar{
    display: inline-block;
    transform: rotate(90deg);
    font-size: 20px;
}
.primeiraparte nav a:hover{
    background-color:#fff;
    border-radius: 10px;
    color: #00050d;
}
a:hover .rodar{
    color: #00050d;
}
#link{
    display: flex;
    align-items: center;
    gap: 2px;
}

#segundaparte{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin-right: 32px;
}
#segundaparte .imgs{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
#segundaparte .imgs:hover{
    border: 6px solid #fff;
    border-radius: 50%;
}
#segundaparte i{
    font-size: 20px;
}

#segundaparte .estilounico{
    padding: 10px 10px;
}
#segundaparte .estilounico:hover{
background-color: #fff;
border-radius: 50%;
}
#segundaparte button{
    background: none;
    border: none;
    cursor: pointer;
}
#segundaparte button:hover{
    background-color: #fff;
    border-radius: 50%;
}
button:hover i{
    color: #00050d;
}
#segundaparte img{
    width: 50px;
}
#assinar{
    background-color: blue;
    border-radius: 10px; 
    padding: 11px 14px;
    font-weight: 550; 
    transition: 0.2s all;  
}
#assinar:hover{
    background-color: lch(88.8% 47.95 201.55);
    box-shadow: 0 0 12px rgb(255, 255, 255, 0.678);
}
